.buttonAdd {
  width: 48px;
  height: 48px;
  background-color: var(--orange-color);
  border-radius: 50%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoneDelite {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 14px;
  height: 14px;
}
.listItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;

  color: #212121;
}

.params {
  position: relative;
}

.params::before {
  position: absolute;

  display: inline-block;
  content: '';

  width: 100%;
  height: 1px;

  left: 0px;
  top: 24px;

  background: #e0e0e0;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.labelProduct {
  position: relative;
  width: 240px;
  /* sdad */
}

.searchProducts {
  position: absolute;
  top: 42px;
  z-index: 10;
  border: solid gray;
  background-color: white;
  border-radius: 4px;
  overflow-y: scroll;

  width: 240px;
  padding: 5px;
  height: 100px;
}

.searchProducts::-webkit-scrollbar {
  width: '6px';
}

.searchProducts::-webkit-scrollbar-track {
  background: '#F0F1F3';
}

.searchProducts::-webkit-scrollbar-thumb {
  width: '6px';
  background-color: '#264061';
  border-radius: '20px';
}

.labelGrams {
  width: 106px;
  text-align: right;
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
