@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --black-color: #212121;
  --white-color: #ffffff;
  --gray-text-color: #9b9faa;
  --gray-bg-color: #f0f1f3;
  --violet-bg-color: #264061;
  --orange-color: #fc842d;

  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;
}

@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  src: url('./baseStyles/font/Verdana.woff2') format('woff2');
}

@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  src: url('./baseStyles/font/Verdana.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  min-height: inherit !important;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: var(--mobile);
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
